<ion-view view-title="{{currentHospitalName}}">
  <ion-content style="background-color:black;color:white;">
    <div class="button-bar bar-positive" style="border-radius:0px;">
	  <a class="button" ng-click="toggleView('doctors')" style="border-radius:0px;">Doctors</a>
	  <a class="button" ng-click="toggleView('appointments')">Appointments</a>
	  <a class="button" ng-click="toggleView('demos')" style="border-radius:0px;">Demos</a>
	</div>
	<div ng-show="doctors">
		<div class="row" style="background-color:cadetblue;color:white;font-weight: bold;">
		  <div class="col">Doctor</div>
		  <div class="col">Am Time</div>
		  <div class="col">Pm Time</div>
		  <div class="col">get slot</div>
		</div>
		<div class="row" style="background-color:white;color:black;font-weight: bold;" ng-repeat="data in [1,2,3,4,5,6,7,8,9,10]">
		  <div class="col">{{data}}</div>
		  <div class="col">Am Time</div>
		  <div class="col">Pm Time</div>
		  <div class="col">get slot</div>
		</div>
	</div>
	<div ng-show="appointments">
		Appointments
	</div>
	<div ng-show="demos">
		Demos
	</div>
  </ion-content>
</ion-view>
