<div ng-include src="template.url" ></div>

<div class="row">
<div class="col-md-2" style="background-color:white;height:500px;border-right:1px solid black;" >
    <div ng-include src="template2.url">
        
    </div>
</div>
<div class="col-md-10">
<div ng-switch on="(currentpage == 'doctor')">
    <div ng-switch-when="true" ng-controller="doctorController">
        <div ng-include src="doctor.url" ></div>
    </div>
    
</div>
<div ng-switch on="(currentpage == 'appointment')">
    <div ng-switch-when="true" ng-controller="appointmentController">
        <div ng-include src="appointment.url" ></div>
    </div>
</div>
<div ng-switch on="(currentpage == 'settings')">
    <div ng-switch-when="true" ng-controller="settingsController">
        <div ng-include src="settings.url" ></div>
    </div>
</div>
<div ng-switch on="(currentpage == 'demo')">
    <div ng-switch-when="true" ng-controller="demoController">
        <div ng-include src="demo.url" ></div>
    </div>
</div>
<div ng-switch on="(currentpage == 'demo1')">
    <div ng-switch-when="true" ng-controller="demo1Controller">
        <div ng-include src="demo1.url" ></div>
    </div>
</div>
</div>
</div>
<div ng-include src="template1.url" ></div>